pytest==5.0.0
pytest-pep8==1.0.6
pytest-cov==2.6.1
pytest-asyncio==0.10.0
pytest-xdist==1.26.1

coverage==4.5.2
coveralls==1.6.0

twine
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
